.post {
    max-width: 50%;
    margin: 0 auto;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.username {
    font-weight: bold;
    margin-left: 20px;
}

.post-age {
    color: lightgray;
    margin-left: 20px;
}

.reply {
    color: blue;
    margin-left: auto;
    margin-right: 20px;
}

.delete {
    color: red;
    margin-left: auto;
    margin-right: 20px;
}

.edit {
    color: blue;
    margin-right: 20px;
}

.profile-pic {
    padding-left: 20px;
    width: auto;
    height: 1.7em;
}

.post-info {
    margin-left: 50px;
    display: flex;
    height: 1.2em;
    margin-bottom: 10px;
}

body {
    background-color: lightgray;
}

.post-text {
    margin-left: 60px;
}

.you {
    margin-left: 20px;
    background-color: blue;
    color: white;
}

.reply-username {
    color: blue;
}